{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Couchbase":{
    "BucketName": "default",
    "ScopeName": "_default",
    "CollectionName": "_default",
    "ConnectionString": "couchbase://my-couchbase",
    "RestEndpoint": "http://my-couchbase:8091/",
    "Username": "Administrator",
    "Password": "password"
  }
}
